ion-header{
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px;
}

ion-item{
  margin: 24px;
}

button{
  display: flex;
  width: 50vw;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  background: aqua;
  color: blue;
  padding: 16px;
  border-radius: 25px;

}

button:hover{
  color: white;
}

h3{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 12px;
}
