ion-content {
  --ion-background-color: #000;
  display: block;
}

.ion-page {
  margin-top: 150px;
}

ion-header img {
  width: 100vw;
}

ion-header {
  background-color: #000;
}

h2 {
  padding: 10px 5px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

fa-icon {
  color: white;
}

.star:hover {
  opacity: 0.7;
  color: aqua;
}

.content-field {
  background-color: #000;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid white;
  width: 100vw;
  padding: 12px;
  margin: auto;
  position: fixed;
  z-index: 11;
}

.content-list {
  margin: 20px;
  display: flex;
  position: relative;
}

.listed {
  display: flex;
  margin-top: 20px;
}

.input {
  background: #000;
  margin-left: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 4px;
  border: 1px solid white;
  border-radius: 10px;
}

.search {
  margin-bottom: 4px;
}

.star {
  position: absolute;
  bottom: 20px;
  right: 0px;
}
