<ion-content>
  <div class="modal" *ngIf="people">
    <fa-icon [icon]="faArrow" routerLink="/"></fa-icon>

    <h3>Name: {{ people.name }}</h3>
    <h3>Hair color: {{ people.hair_color }}</h3>
    <h3>Eye color: {{ people.eye_color }}</h3>
    <h3>Birth year: {{ people.birth_year }}</h3>
    <h3>Gender: {{ people.gender }}</h3>
    <!-- <h3>Created at: {{ people.created | date : "dd/MM/yyyy H:mm" }}</h3>
    <h3>Edited at: {{ people.edited | date : "dd/MM/yyyy H:mm" }}</h3>
    <h3>URL: {{ people.url }}</h3> -->
  </div>
</ion-content>
